@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:#000000;
  --text:#ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Roboto, system-ui, sans-serif;
}

.gradient-text,
.text-gradient {
  background: linear-gradient(90deg, #ffb300 0%, #ff6d00 50%, #f538a0 100%);
  -webkit-background-clip: text;
  color: transparent;
}
