@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:#000000;
  --text:#ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Roboto, system-ui, sans-serif;
}

.gradient-text,
.text-gradient {
  background: linear-gradient(90deg, #ffb300 0%, #ff6d00 50%, #f538a0 100%);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes text-appear {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes text-disappear {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-text-appear {
  animation: text-appear 0.7s ease forwards;
}

.animate-text-disappear {
  animation: text-disappear 0.7s ease forwards;
}
